.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  background: #2c3e50;
  color: #fff;
  padding-left: 100px;
  text-align: center;
  font-size: 20px;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
  margin-left: 100px;
}
.ant-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://drscdn.500px.org/photo/240826625/m%3D1170/v2?webp=true&sig=a7c4fabfdfc7154c87bd392f6a8159e9a315e0fcf3cc272284351eec951cf1b6");
  color:white;
}
.ant-layout-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  margin-left: 300px;
  margin-right: 300px;
  border: 2px solid black;
  margin-top:10px;
  margin-bottom:10px;
}
.code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
.code-box-demo > div > .ant-layout:last-child {
  margin: 0;
}
.ant-form-item-label > label {
  color: white;
}

